[submodule "repos/JUCE"]
	path = repos/JUCE
	url = https://github.com/juce-framework/JUCE.git
	branch = master
[submodule "repos/tensorflow"]
	path = repos/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
	branch = master
